body{
  background-color: blanchedalmond;
}
#name{
  text-align: center;
  text-decoration: underline;
  font-size: 40px;
  text-shadow: 2px 2px 20px blue;
  font-family: 'Courier New', Courier, monospace;
}
p{
  text-align: center;
  text-decoration: overline;
  letter-spacing: 10px;
  font-style: italic;
}
h6{
  border: 5px solid black;
  padding: 20px;
  margin: 30px;
  word-spacing: 20px;
  text-align: justify;
  text-indent: 60px;
}
h6::first-letter
{
  font-size: 30px;
}
h6:hover{
  color: blue;
}
a:focus{
  color: yellow;
}
h1{
  border: 2px solid black;
}
a:hover{
  border: 2px solid black;
}
div{
  border: 2px solid black;
  width: 50%;
}
h6{
  width: 50%;
  height: 500px;
  /* overflow: scroll; */
  border-width:5px 20px 5px 20px;
  border-style: solid;
  border-color: blue;
  padding: 5px 10px 20ox 30px;
  margin: 10px 20px 30px 40px;
}